<div class="links-container">
    <div><a routerLink="/about-me"><i class="fab fa-stack-overflow" style="transform: translate(0, 4%);"></i> About Me</a></div>
    <div><a routerLink="/home"><i class="fab fa-stack-overflow" style="transform: translate(0, 4%);"></i> Home</a></div>
    <div><a routerLink="/denied"><i class="fab fa-stack-overflow" style="transform: translate(0, 4%);"></i> Denied</a></div>
    <div><a routerLink="/survey"><i class="fab fa-stack-overflow" style="transform: translate(0, 4%);"></i> Survey</a></div>
</div>