:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

p {
    text-align: center;
    font-family: Consolas, 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: x-large;
    margin-top: 25px;
}