:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

p {
    text-align: center;
    font-family: Consolas, 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: x-large;
    margin-top: 25px;
}

#gif-wrapper{
    display: flex;
    flex-direction: column;
    margin: 25px auto 0 auto;
}

#gif-wrapper>img{
    margin-bottom:5px;
    border-radius: 5px;
    border: 1px solid black;
}