<div id="about-container">
    <div class="bg-white shadow rounded overflow-hidden">  
        <div class="px-4 pt-0 pb-4 cover">
            <div class="media align-items-end profile-head">
                <div class="profile mr-3"><img src="./../../../assets/Glow.jpg" alt="..." width="130"
                        class="rounded mb-2 img-thumbnail"></div>
                <div class="media-body mb-5 text-white">
                    <h4 class="mt-0 mb-0">Maximiliano Nicolás Güelpa</h4>
                    <p class="small mb-4"></p>
                </div>
            </div>
        </div>
        <div class="px-4 py-3">
            <div class="d-flex align-items-center justify-content-between mb-3">
                <h5 class="mb-0">Sobre mi:</h5>
            </div>
            <div class="p-4 rounded shadow-sm bg-light">
                <p class="font-italic mb-0">
                    Estudiante de la carrera "Técnico Universitario en Programación" en
                    la Universidad Tecnológica Nacional Facultad Regional Avellaneda.
                </p>
            </div>
        </div>
        <div class="px-4 py-3">
            <div class="d-flex align-items-center justify-content-between mb-3">
                <h5 class="mb-0">Sobre el Juego: </h5>
            </div>
            <div class="p-4 rounded shadow-sm bg-light">
                <p class="font-italic mb-0">
                    Titulo: Anagrama
                </p>
                <p class="font-italic mb-0" style="padding-top: 25px;">
                    Descripcion: El jugador deberá adivinar la palabra oculta dentro del texto encriptado, para ello utilizará el teclado proporcionado por el juego. El Jugador podrá realizar infinita cantidad de intentos siempre y cuando este dentro del rango de tiempo disponible, de tal manera, si la palabra ingresada es correcta, el jugador recibirá un puntaje y finalizara la partida.
                </p>
            </div>
        </div>
        <img src="./../../../assets/games/anagrama.jpg" alt="" style="border: 1px solid black; height: 200px; margin: 0 5px 25px 25px">
        <img src="./../../../assets/games/anagrama1.jpg" alt="" style="border: 1px solid black; height: 200px; margin: 0 5px 25px 25px">
        <img src="./../../../assets/games/anagrama2.jpg" alt="" style="border: 1px solid black; height: 200px; margin: 0 5px 25px 25px">
    </div>
</div>