:host {
    display: flex;
    height: 100%;
    justify-content: center;
}

#about-container {
    width: 900px;
    margin-top: 30px;
}

h4 {
    font-size: large;
    font-weight: bolder;
    color:whitesmoke
}

p {
    font-family: Consoleas 'Courier New', Courier, monospace;
    font-weight: 500;
}

.profile-head {
    transform: translateY(5rem)
}

.cover {
    background-image: url("./../../../assets/code-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}