
<div class="row py-5 px-4" style="min-width:80%">
    <div class="col-md-5 mx-auto">
        <!-- Profile widget -->
        <div class="bg-white shadow rounded overflow-hidden">
            <div class="px-4 pt-0 pb-4 cover">
                <div class="media align-items-end profile-head">
                    <div class="profile mr-3"><img src="./../../../assets/Glow.jpg" alt="..." width="130"
                            class="rounded mb-2 img-thumbnail"></div>
                    <div class="media-body mb-5 text-white">
                        <h4 class="mt-0 mb-0">Maximiliano Nicolás Güelpa</h4>
                        <p class="small mb-4"></p>
                    </div>
                </div>
            </div>
            <div class="bg-light p-4 d-flex justify-content-end text-center" hidden>
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <!-- <h5 class="font-weight-bold mb-0 d-block">215</h5><small class="text-muted"> <i class="fas fa-image mr-1"></i>Photos</small> -->
                    </li>
                    <li class="list-inline-item">
                        <!-- <h5 class="font-weight-bold mb-0 d-block">745</h5><small class="text-muted"> <i class="fas fa-user mr-1"></i>Followers</small> -->
                    </li>
                    <li class="list-inline-item">
                        <!-- <h5 class="font-weight-bold mb-0 d-block">340</h5><small class="text-muted"> <i class="fas fa-user mr-1"></i>Following</small> -->
                    </li>
                </ul>
            </div>
            <div class="px-4 py-3">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h5 class="mb-0">Sobre mi:</h5>
                </div>
                <div class="p-4 rounded shadow-sm bg-light">
                    <!-- <p class="font-italic mb-0">Web Developer</p> -->
                    <p class="font-italic mb-0">Soy estudiante de la carrera "Técnico Universitario en Programación" en
                        la Universidad Tecnológica Nacional Facultad Regional Avellaneda.</p>
                    <p class="font-italic mb-0">En cuanto a mi experiencia me desempeño como Desarrollador .NET en
                        Globant.</p>

                </div>
                <div style="margin-bottom: 10px;">

                </div>
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h5 class="mb-0">Sobre el trabajo practico: TP-Sala-de-Juegos.</h5>
                </div>
                <div class="p-4 rounded shadow-sm bg-light">
                    <!-- <p class="font-italic mb-0">Web Developer</p> -->
                    <p class="font-italic mb-0">El punto final de este trabajo practico consitia en desarrollar un juego
                        propio o existente distinto de los que se encontraban dentro de las consignas de este trabajo
                        práctico.
                        El Juego a elegido a desarrollar fue el Tetris, cuyas funciones son, ademas de la logica del
                        motor del juego, registrar el puntaje del jugador a medida que logra completar el objetivo. El
                        juego se encuentra desarrolado completamente en java script utilizando el tag HTML "canvas" y
                        una serie de matrises las cuales se iran definiendo aleatoreamente.
                    </p>

                </div>
            </div>
            <div class="py-4 px-4">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h5 class="mb-0">Fotos</h5><a routerLink="/tetris" class="btn btn-link text-muted">Ir al juego</a>
                </div>
                <div class="row">
                    <div class="col-lg-6 mb-2 pr-lg-1"><img src="./../../../assets/tetris-1.png" alt=""
                            class="img-fluid rounded shadow-sm"></div>
                    <div class="col-lg-6 mb-2 pr-lg-1"><img src="./../../../assets/tetris-2.png" alt=""
                            class="img-fluid rounded shadow-sm"></div>
                    <div class="col-lg-6 mb-2 pr-lg-1"><img src="./../../../assets/tetris-cover.jpg" alt=""
                            class="img-fluid rounded shadow-sm"></div>
                </div>
            </div>
        </div>
    </div>
</div>