<style>
    app-square {
        border: 2px solid black;
        border-radius: 5px;
        background-color: white;
        display: inline-flex;
        width: 123px;
        height: 123px;
       padding: 5px;
       display: flex;
       flex-direction: wrap;
    }

    h1 {
        color: whitesmoke;;
    }
</style>


<div class="header">
    <h1 class="text-center text-orange " *ngIf="game.isGameRunning" [ngClass]="{'text-teal': game.activePlayer == 'O'}">
        {{ game.activePlayer }}'S TURN
    </h1>
    <h1 class="text-center text-grey-darker" *ngIf="!game.isGameRunning"> Tic-Tac-Toe </h1>
</div>

<div id="memotest-board-container">
    <div class="card" *ngFor="let square of game.board">
        <app-square [square]="square" border-blue> </app-square>
    </div>

</div>

<button id="btn_new" class="btn btn-primary" *ngIf="game.isGameOver" (click)="resetGame()">Reset</button>
<h1 class="text-center  text-grey-darker" *ngIf="game.winner"> {{ game.activePlayer }} WON </h1>
