<style>
    app-square {
        border: 2px solid black;
        border-radius: 5px;
        background-color: white;
        display: inline-flex;
        width: 123px;
        height: 123px;
       padding: 5px;
       display: flex;
       flex-direction: wrap;
    }

    h1 {
        color: whitesmoke;;
    }

    #s {
        border: 1px solid whitesmoke;
        padding: 10x;
    }
</style>


<div class="header">
    <h1 class="text-center text-grey-darker"> Tic-Tac-Toe </h1>
</div>

<div id="memotest-board-container">
    <app-square class="card" [square]="square" *ngFor="let square of tictactoe.matrix" (click)="onSelection(square)"></app-square>
    <!-- <div class="card" *ngFor="let square of tictactoe.matrix" (click)="onSelection(square)">
        {{square.value}}
    </div> -->
</div>

<button id="btn_new" class="btn btn-primary" *ngIf="!isRunning" (click)="newGame()">New Game</button>
