<div id="anagrama-form">
    <div id="anagrama-set-wrapper">
        <span *ngFor="let word of shuffledSet">{{word}}</span>
    </div>
    <app-anagrama-timer [width]="progress"></app-anagrama-timer>
    <div class="player_input">
        <input type="text" name="" id="" class="form-control" style="flex:2;margin-right: 5px;" [disabled]="!isRunning" [(ngModel)]="answer">
        <button class="btn btn-primary" (click)="onStart()" *ngIf="!isRunning">New Game</button>
        <button class="btn btn-success" (click)="onAnswer()" *ngIf="isRunning">Answer</button>
    </div>
</div>