<style>
    #chat-container {
        height: 100%;
        display: flex;
    }
    #chat {
        display: flex;
        flex-direction: column;
        margin:auto;
        border: 1px solid #ced4da;
        border-radius: 15px;
        height: 90%;
        width: 75%;
    }

    #chat-body {
        padding:15px;
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;

        height: 100%;
        width: 100%;
    }

    #chat-footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 14px;
        height: 75px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        width: 100%;
        
    }

    #input {
        width: 85%;
    }
    .message:nth-child(odd) {
       align-self: flex-start;
    }
    .message:nth-child(even) {
       align-self: flex-end;
    }
    
</style>


<div id="chat-container">

    <div id="chat">
        <div id="chat-body">
            <span class="message" *ngFor="let chat of messages; let i = index">{{chat.username}}: {{chat.message}}</span>

        </div>
        <div id="chat-footer">
            <input type="text" class="form-control" id="input" placeholder="message" [(ngModel)]="text">
            <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>
        </div>
    </div>

</div>